body ,html {
  margin: 0;
  padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

img {
  display: block;  /* removes small gaps under image */
}


.image-container {
  position: relative;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
}

.bg-image {
  width: 100%;
  height: auto;
  display: block;
}

.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.4); /* semi-transparent overlay */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f6c453;
}

.title {
  font-size: 48px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px black;
}

.top-bar {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  align-items: center;
  flex-wrap: wrap;
}

.menu-btn {
  background-color: #f6c453;
  border: none;
  padding: 10px 20px;
  color: black;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.search {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  width: 250px;
}

.button-group {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.btn {
  background-color: transparent;
  border: 2px solid #f6c453;
  color: #f6c453;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #f6c453;
  color: black;
}
.search-container {
  position: relative;
  width: 250px;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1000;
  font-size: 14px;
}

.suggestions li {
  padding: 8px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #f6c453;
  color: black;
}
.dropdown-menu {
  position: absolute;
  top: 70px; /* حسب مكان زر القائمة */
  right: 50px;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid #f6c453;
  border-radius: 10px;
  padding: 10px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
}

.dropdown-menu a {
  color: #f6c453;
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 5px;
  transition: background 0.3s;
}

.dropdown-menu a:hover {
  background-color: #f6c453;
  color: black;
}

.hidden {
  display: none;
}
